
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddSave</title>
</head>
<body>
    @if (ViewBag.result == 1)
    {
        <div>
            插入成功
        </div>
    }
    else
    { <div>
        插入失败
    </div>

    }
</body>
</html>
